{% extends "base.html" %}

{% block content %}
<script src="https://kit.fontawesome.com/640439664e.js" crossorigin="anonymous"></script>
<style>
    /* Estilo personalizado para el fondo oscuro marino */
    body {
        background-color: #001f3f !important; /* Oscuro marino */
    }

    /* Estilo personalizado para la tarjeta */
    .card {
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #fff; /* Fondo blanco */
    }

    /* Estilo personalizado para el encabezado de la tarjeta */
    .card-header {
        background-color: #001f3f !important; /* Oscuro marino */
        color: #fff; /* Texto blanco */
        border: none;
    }

    /* Estilo personalizado para el botón */
    .btn-primary {
        background-color: #001f3f !important; /* Oscuro marino */
        border: none;
        transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #ff5733 !important; /* Cambio de color al pasar el mouse (naranja) */
    }

    /* Estilo para quitar el delineado negro de los input */
    form input {
        background-color: #f2f2f2;
        border: 1px solid #7a7a7a;
        border-radius: 0.3em;
        padding: 0.8em;
        padding-left: 2.2em;
        font-size: 2em;
        letter-spacing: 1px;
        color: #000;
    }

    /* Estilo para centrar los inputs */
    form {
        text-align: center;
    }

    /* Estilo para separar las etiquetas de los campos de entrada */
    .form-group label {
        display: block;
        margin-bottom: 5px;
        text-align: left; /* Alinea el texto a la izquierda */
    }

    /* Estilos responsivos */
    @media (max-width: 1200px) {
        form input {
            font-size: 1.6em;
        }
    }

    @media (max-width: 991px) {
        form input {
            font-size: 1em;
        }
        .card-body{
            width: fit-content;
        }
    }

    @media (max-width: 576px) {
        form input {
            font-size: 1.2em;
        }
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Iniciar Sesión en WANHUA</h2>
                </div>
                <div class="card-body">
                    <form id="login-form" action="/login/" method="post">
                        <i class="fa fa-user-circle-o fa-10x" style="margin-top: 0.18em;"></i>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}" style="margin: 2em 0 0.3em 0; font-size: 1.5em;"><b>Usuario:</b></label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}" style="margin: 0 0 0.3em 0; font-size: 1.5em;"><b>Contraseña:</b></label>
                            {{ form.password }}
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-block" style="margin-top: 1.7em;"><i class="fa fa-arrow-right fa-4x" aria-hidden="true"></i></button>
                        </div>
                        {{ error }}
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <p style="margin: 0; color: #7a7a7a;">Si tienes problemas para iniciar sesión contacta a tus superiores</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Agrega Bootstrap y jQuery (asegúrate de tener las URLs correctas) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    // Agrega alguna lógica adicional de jQuery o animaciones si es necesario
</script>
{% endblock %}